name: playground
description: "The components playground rendered in the Docs site."

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.0.0

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  flutter_solidart: ^1.7.1
  go_router: ^13.2.4
  shadcn_ui:
    path: ..
  awesome_flutter_extensions: ^1.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.2

flutter:
  uses-material-design: true
  assets:
    - assets/
